

.pokedex__main {
    width: 100vw;
}

/* -----------------------Header-------------------------- */

.header {
    position: relative;
    background-color: black;
    height: 100px;
    margin-bottom: 2em;
}

.halfHeader {
    background-color: #DD1A1A;
    height: 65%;
    position: relative;
}

.logo1__container{
    height: 60px;
    position: absolute;
    right: 20px;
    bottom: -48px;
}

.pokeLogo1 {
    display:block;
    height: 100%;
    object-fit: contain;
       
}


.banner1 {
    width: 200px;
    position: absolute;
    bottom: 28px;
    margin-left: 2em;
    z-index: 10;
}



/* ----------------text -------------------- */

.welcome {
    color: #da0f0f;
    font-weight: 700;
    line-height: 2;
}

.welcome__p {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
}


@media (min-width: 700px) {

/* --------------------------------header-------------------------------- */
    .pokedex__main{
        width: 100vw;
    }

    .banner1 {
        width: 400px;
        position: absolute;
        bottom: 20px;
        margin-left: 5em;
    }

    .halfHeader {
        background-color: #DD1A1A;
        height: 65%;
        position: relative;
    }
    
    .logo1__container{
        height: 90px;
        position: absolute;
        right: 120px;
        bottom: -60px;
    }
    
    .pokeLogo1 {
        
        height: 100%;
        object-fit: contain;
           
    }

  

/* ------------text------------- */

    .welcome__p {
        margin-left: 5em;
    }

}