.pokemon {
    width: 100%;
    max-width: 300px;
    border-radius: 0.8em;
    overflow: hidden;
    border: 0.5em solid rgba(208, 177, 238, 0.705);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    cursor: pointer;
    transition: transform 0.2s;
}

.pokemon:hover {
    transform: scale(1.01);
}

.pokemon__header {
    background: linear-gradient(178.92deg, #a7e2e1 0.92%, #89af9f 47.96%, #dff3b3 99.08%);
    height: 160px;
    position: relative;
}

/* ----------------bg class Colors --------------------------- */

.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85% );
} 

.bg-normal{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-electric {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-psychic {
    background: linear-gradient(179.75deg, #95800c -19.96%, #b6b30f 43.67%, #5e640e 138.4%);
}
.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.bg-fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}








/* -------------------- fonts class Colors---------------------------- */

.color-grass {
    color: #158555;
}

.color-fire {
    color: #D94F1D;
}

.color-water {
    color: #194D8B;
}

.color-normal {
    color: #735259;
}
.color-fighting {
    color: #F1613C;
}

.color-poison {
    color: #5B3184;
}

.color-ground {
    color: #654008;
}
.color-rock {
    color: #7E7E7E;
}
.color-bug {
    color: #62DB60;
}
.color-ghost {
    color: #323569;
}
.color-steel {
    color: #5E736C;
}
.color-electric {
    color: #0C1395;
}
.color-psychic {
    color: #95800c;
}
.color-ice {
    color: #6FBEDF;
}
.color-dragon {
    color: #478A93;
}
.color-dark {
    color: #030706;
}
.color-fairy {
    color: #971B45;
}


/* ---------------Border class Colors------------------------------------- */

.border-grass {
    border-color: #84d6b2;
}

.border-fire {
    border-color: #D94F1D;
}

.border-water {
    border-color: #194D8B;
}

.border-normal {
    border-color: #735259;
}
.border-fighting {
    border-color: #F1613C;
}

.border-poison {
    border-color: #5B3184;
}
.border-ground {
    border-color: #654008;
}
.border-rock {
    border-color: #7E7E7E;
}
.border-bug {
    border-color: #62DB60;
}
.border-ghost {
    border-color: #4e52a7;
}
.border-steel {
    border-color: #5E736C;
}
.border-electric {
    border-color: #0C1395;
}
.border-psychic {
    border-color: #95800c;
}
.border-ice {
    border-color: #6FBEDF;
}
.border-dragon {
    border-color: #478A93;
}
.border-dark {
    border-color: #0c1d19;
}
.border-fairy {
    border-color: #971B45;
}


/* ------------------------------------------------------------- */

.pokemon__sprite {
    width: 60%;
    position: absolute;
    
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.pokemon__body {
    padding: 1em;
    padding-top: 50px;
}

.pokemon__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.pokemon__types {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.pokemon__type-specific {
    text-transform: capitalize;
}

.pokemon__type-specific:nth-child(2){
    position: relative;
}

.pokemon__type-specific:nth-child(2)::before {
    content: '/';
    position: absolute;
    left: -1em;
}

.pokemon__stats {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 0.6rem;
    row-gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pokemon__stats-specific {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.pokemon__stats-label {
    font-weight: 200;
    text-transform: uppercase;
}

.pokemon__stats-value {
    font-size: 1rem;
}

